################
# QA Additions
################

node_modules
dist
.tmp
.DS_Store
bower_components
npm-debug.log
*.pyc
*__pycache__*
geckodriver.log
jmeter.log
qa/geckodriver.log
qa/jmeter.log
log.txt
qa/log.txt

## Ignnore VirtualEnv Installs
env/
locust_env/
zap_env/
qa/env/
qa/locust_env/
qa/zap_env/


## Don't upload secret files
accounts.py
Accounts.py
secrets.py
qa/accounts.py
qa/Accounts.py
qa/secrets.py

# Test Outputs
security/results.json
security/testreport.html
accessibility/output/
qa/security/results.json
qa/security/testreport.html
qa/accessibility/output/
qa/results/*
visual/images/current_run
visual/images/diff
visual/results
qa/visual/images/current_run
qa/visual/images/diff
qa/visual/results

################
# End QA Additions
################
