################
# QA Additions
################

node_modules
dist
.tmp
.DS_Store
bower_components
npm-debug.log
*.pyc
*__pycache__*
geckodriver.log
jmeter.log
qa/geckodriver.log
qa/jmeter.log
log.txt
qa/log.txt

## Ignnore VirtualEnv Installs
env/
qa/env/

## qa/secrets has it's own .gitignore

# Test Outputs
security/results.json
security/testreport.html
performance/results/*.csv
accessibility/output/*
utilities/allure/allure_results/*.json
utilities/allure/allure_results/history/*
visual/results/*.json
visual/results/*.png
visual/reports/*
utilities/allure/allure-reports/*
utilities/allure/allure_results/*
utilities/modheaders_plugin.zip
qa/security/results.json
qa/security/testreport.html
qa/accessibility/output/*
qa/results/*
qa/visual/results/*.png
qa/visual/reports/
qa/visual/results/*.json
qa/utilities/allure/allure_results/*.json
qa/utilities/allure/allure-reports/*
qa/performance/results/*.csv
qa/utilities/modheaders_plugin.zip
################
# End QA Additions
################
