# Example basic Settings.
HOST=example.appspot.com
DRIVER=authenticated_chrome

# For IAP
CLIENT_ID='ssadjklfslldgmlngsfsdf.apps.googleusercontent.com'
GOOGLE_APPLICATION_CREDENTIALS='./qa/secrets/example.json'
GOOGLE_API_KEY='sgdfdgukahflsjdghssss'

# CMS Test Accounts & Login info for manual login.py
ADMIN_EMAIL=''
ADMIN_PASSWORD=''
ADMIN_NAME=''

EDITOR_EMAIL=''
EDITOR_PASSWORD=''
EDITOR_NAME=''

MODERATOR_EMAIL=''
MODERATOR_PASSWORD=''
MODERATOR_NAME=''

USER_EMAIL=''
USER_PASSWORD=''
USER_NAME=''

RECOVERY_EMAIL=''
RECOVERY_CITY=''
RECOVERY_PHONE=''

# For use with Allure Report Hub
export ALLURE_REPORT_HUB_URL='https://example-allure-hub.com'
export ALLURE_PROJECT_NAME='example-project-name'
export ALLURE_HUB_CLIENT_ID='the-client-id-of-allure-hub.apps.googleusercontent.com'
export TEST_RUNNER='Local'
export ENVIRONMENT_NAME='Testing'

export ZAP_ADDRESS='http://localhost:8080'
export ZAP_API_KEY='0123456789'
