# Example basic Settings.
HOST_URL=https://example.appspot.com
DRIVER=authenticated_chrome

# For IAP
CLIENT_ID='ssadjklfslldgmlngsfsdf.apps.googleusercontent.com'
GOOGLE_APPLICATION_CREDENTIALS='./qa/secrets/example.json'
GOOGLE_API_KEY='sgdfdgukahflsjdghssss'

# CMS Test Accounts & Login info for manual login.py
ADMIN_EMAIL=''
ADMIN_PASSWORD=''
ADMIN_NAME=''

EDITOR_EMAIL=''
EDITOR_PASSWORD=''
EDITOR_NAME=''

MODERATOR_EMAIL=''
MODERATOR_PASSWORD=''
MODERATOR_NAME=''

USER_EMAIL=''
USER_PASSWORD=''
USER_NAME=''

RECOVERY_EMAIL=''
RECOVERY_CITY=''
RECOVERY_PHONE=''

# For use with Allure Report Hub
ALLURE_REPORT_HUB_URL=''
ALLURE_PROJECT_NAME=''
ALLURE_HUB_CLIENT_ID=''
